body {
  background-color: rgb(25, 148, 25);
  margin: 0;
}


label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

.hidden {
  display: none;
}
